## Python Programming Assignment 10

### 1. Write a Python program to find sum of elements in list?

In [1]:
l = [2, 4, 1, 5, 6, 7]

total = 0
for i in l:
    total += i
print(total)

25

### 2. Write a Python program to  Multiply all numbers in the list?

In [2]:
l = [2, 4, 1, 5, 6, 7]

product = 1
for i in l:
    product *= i
    
print(product)

1680

### 3. Write a Python program to find smallest number in a list?

In [3]:
l = [2, 0, 1, 1235, 6, -7123]

minimum = l[0]
for i in l:
    if i < minimum:
        minimum = i
        
print(minimum)

-7123

### 4. Write a Python program to find largest number in a list?

In [4]:
l = [2, 0, 1, 1235, 6, -7123]

maximum = l[0]
for i in l:
    if i > maximum:
        maximum = i
        
print(maximum)

1235

### 5. Write a Python program to find second largest number in a list?

In [7]:
l = [2, 0, 1, 1235, 6, -7123]
l.sort()
print("Second largest number:", l[-2])

Second largest number: 6

### 6. Write a Python program to find N largest elements from a list?

In [9]:
def findLarge(l, n):
    l.sort()
    return l[-n]

In [12]:
# 3th Largest Element

l = [2, 0, 1, 1235, 6, -7123]
findLarge(l, 3)

2

### 7. Write a Python program to print even numbers in a list?

In [13]:
l = [2, 0, 1, 1235, 6, -7123, 21, 54, 12, -23, -42]

[ i for i in l if i%2 == 0]

[2, 0, 6, 54, 12, -42]

### 8. Write a Python program to print odd numbers in a List?

In [14]:
l = [2, 0, 1, 1235, 6, -7123, 21, 54, 12, -23, -42]

[ i for i in l if i%2 == 1]

[1, 1235, -7123, 21, -23]

### 9. Write a Python program to Remove empty List from List?

In [15]:
l = [[], 12, 31, [1,2, -23] , [1], [], [123.23], [], 2, 321]

result = []
for i in l:
    if type(i) == list:
        if len(i) != 0:
            result.append(i)
    else:
        result.append(i)

result

[12, 31, [1, 2, -23], [1], [123.23], 2, 321]

### 10. Write a Python program to Cloning or Copying a list?

In [17]:
list1 = [2,1, 31, 3, 412, 3, 4667, [2,3,1]]
list2 = []

for i in list1:
    list2.append(i)
    
print(list2)

list3=list2.copy()

[2, 1, 31, 3, 412, 3, 4667, [2, 3, 1]]

### 11. Write a Python program to Count occurrences of an element in a list?

In [18]:
l = [1,1,1, 3, 4, 1, 7, 8, 6,6,2,1]

def occurrences(lst, element):
    count = 0
    for i in lst:
        if i == element:
            count += 1
            
    return count

In [20]:
occurrences(l, 6)

2